                body {
                background-color: rgb(188, 193, 197);
            }
            
            .alto {
                height: 100vh;
            }
            
            .menu {
                height: 7vh;
                background-color: rgba(72, 93, 209, 0.856);
            }
            
            .titulo {
                color: white;
                background-color: rgba(72, 93, 209, 0.856);
                text-align: center;
                width: 100%;
                height: 9vh;
            }
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgba(72, 93, 209, 0.856);
            }
            
            li {
                float: right;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            li a:hover {
                background-color: #111;
            }
            
            .carrusel {
                height: 80vh;
            }
            
            .carousel-inner img {
                width: 100%;
                height: 85vh;
                margin: auto;
            }
            
            .quienes {
                font-family: verdana;
                text-align: center;
                color: rgb(255, 255, 255);
                background-color: rgba(72, 93, 209, 0.856);
                height: 13vh;
                padding-top: 37px;
            }
            
            .descripcion {
                color: rgb(0, 0, 0);
                text-align: center;
                padding: 25px;
                font-size: 25px;
            }
            
            .container {
                -webkit-border-radiuc: 10px;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                -moz-border-radius: 10px;
                -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                -o-border-radius: 10px;
                -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                font-size: 18px;
                margin: 0 auto;
                padding: 30px;
                width: 700px
            }
            
            .cuadros {
                -webkit-border-radiuc: 10px;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                -moz-border-radius: 10px;
                -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                -o-border-radius: 10px;
                -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                font-size: 18px;
                margin: 0 auto;
                padding: 50px;
                width: 400px
            }
            
            .errores {
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                background: rgb(245, 0, 0);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                color: #fff;
                display: none;
                font-size: 14px;
                margin-top: -80px;
                margin-left: 340px;
                padding: 10px;
                position: absolute
            }
            
            .botones {
                text-align: center;
            }
            
            .final {
                height: 30vh;
                background-color: #07090a;
            }
            
            .botoncolor {
                color: rgb(250, 250, 250);
                background-color: rgba(72, 93, 209, 0.856);