body {
    background-color: rgb(188, 193, 197);
}

.alto {
    height: 100vh;
}

.menu {
    height: 15vh;
    background-color: rgb(52, 245, 100);
}

.carrusel {
    height: 80vh;
}

.carousel-inner img {
    width: 100%;
    height: 85vh;
    padding: 100px;
}

.presentacion {
    background-color: brown;
}